/* Review Points
 * 
 * grid
 * flex-grow, flex-shrink, flex-basis
 * align-items, justify-items align-content, justify-content
 *	-- As they relate to flex and grid
 *	grid in relation to scrolling
 * 
 */


* {
	font-size: calc(1em * 1vw)
	box-sizing: border-box;
}

body {
	color: white;
	background: #fff;
}

.main-container {
	display: grid;
	grid-template: 10vh min-content 1fr / 1fr 80vw 1fr;
	background-color: white;
	color: black;
	min-height: 100%;
	min-width: 500px;
	margin: 0px auto;
}

.top-bar {
	position: sticky;
	top: 0px;
	background-color: white;
	grid-area: 2 / 2 / 3 / 3;
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	width: 100%;
	border-bottom: 2px solid black;
}

/* position: sticky ?? */
.top-bar * {
	display: flex;
	align-items: end;
	justify-content: center;
}

.top-bar button {
	background-color: white;
	font-size: 2em;
	margin-bottom: 3%;
	padding: 0;
	border: 0;
}

.top-bar-sideline {
	box-sizing: border-box;
	grid-area: 2 / 1 / 3 / 2;
	height: 100%;
	width: 50%;
	justify-self: right;
	border-bottom: 2px solid black;
}

.top-bar-sideline-left {
	grid-area: 2 / 3 / 3 / 4;
	justify-self: left;
}

.top-left {
	font-size: 3em;
	padding-bottom: 5px;
}

.top-right {
	align-self:end;
	gap: 2em;
	width: 35%;
}

.book-area {
	grid-area: 3 / 2 / 4 / 3;
	justify-self: center;
	display: grid;
	grid-auto-rows: 15em;
	gap: 2em;
	grid-template-columns: repeat(3, 1fr);
	width: 80%;
	margin: 0 auto;
	padding: 5% 0;

	font-size: 1.2em;
}

.book-entry { 
	display: grid;
	grid-template-rows: 1.5fr 2fr 1em;
	grid-template-columns: minmax(1fr 50px) 1fr;
	width: 18vw;
	min-height: 200px;
	border: 1px solid black;
	padding: 0.7em;
}

.book-entry-icon {
	display: flex;
	justify-content: center;
	grid-area: 1 / 1 / 2 / 2;
	padding: 0.5em;
}

.book-entry-icon img {
	/* display: block; */
	max-width: 50%;
}

.book-entry-info {
	grid-area: 1 / 2 / 2 / 3;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding-bottom: 0.5em;
}

.book-entry-info-title {
	font-style: italic;
	font-weight: bold;
}

.book-entry-info-pages {
	font-size: 0.8em;
}

.book-entry-description {
	grid-area: 2 / 1 / 3 / 3;
	display: block;
	margin-top: 0.3em;
	text-align: justify;
}

.book-entry-readstatus {
	grid-area: 3 / 1 / 4 / 3;
	justify-self: end;
	font-size: 0.8em;
	margin-top: 0.3em;
}

dialog {
	width: 25vw;
	border: 2px solid black;
}

dialog::backdrop {
	backdrop-filter: blur(5px);
}

form {
	display: flex;
	flex-direction: column;
	width: 100%;
}

form button {
	width: 5vw;
	display: block;
	font-size: 1em;
	align-self: end;
	margin-top: 1em;
}

.form-group {
	width: 100%;
	display: flex;
	justify-items: center;
	margin-bottom: 1em;
}

.form-group input {
	flex-grow: 2;
	border: 0;
	border-bottom: 1px solid black;
	outline: 0;
}

.form-group label {
	margin-right: 1em;
}

legend {
	font-size: 2em;
	margin-bottom: 1em;
}
