/* Review Points
 * 
 * grid
 * flex-grow, flex-shrink, flex-basis
 * align-items, justify-items align-content, justify-content
 *	-- As they relate to flex and grid
 *	grid in relation to scrolling
 * 
 */


* {
	box-sizing: border-box;
}

body {
	color: white;
	background: #fff;
}

.main-container {
	display: flex;
	flex-direction: column;
	background-color: white;
	color: black;
	display: flex;
	width: 70%;
	min-width: 500px;
	margin: 0px auto;
	padding-top: 10%;
}

.top-bar {
	height: 10vh;
	display: flex;
	flex-direction: row;
	width: 100%;
}

.top-left {
	font-size: 3em;
	width: 65%;
}

.top-right {
	display: flex;
	gap: 2em;
	width: 35%;
}

button {
	width: 9em;
	height: 2em;
}

.book-area {
	display: grid;
	justify-items: center;
	grid-auto-rows: 200px;
	grid-template-columns: repeat(3, 1fr);
	width: 100%;
	border-top: 2px solid black;
	padding: 5% 10%;
}

.book-entry { 
	grid-area: auto;
	width: 100px;
	height: 100px;
	/* margin: 15% 0px; */
	border: 1px solid black;
}
